*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgba(115, 60, 232, 0.281);
}

ul {
  display: flex;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: rgba(122, 72, 228, 0.699);
}

li {
  float: left;
}

li a {
  border: solid white;
  border-radius: 20px;
  display: block;
  color: white;
  width: 100px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: rgba(51, 51, 193, 0.527);
  margin: 10px 20px;
}

li a:hover {
  background-color: #111;
}
.add-cake .add-form label {
  margin: 2rem;
}

.add-cake {
  max-width: 1200px;
  margin: 4rem auto;
  justify-content: center;
  align-items: center;
}

.cakes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 4rem 0;
}

.cakes-item {
  align-items: center;
  padding: 2rem;
  margin: 2rem 0;
  border-radius: 5px;
  width: 300px;
  height: 500px;
  border: solid 1px gray;
  text-decoration: none;
  color: #111;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.cakes-item:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.cakes-item > img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

footer {
  margin: 10px;
  width: 100%;
  text-align: center;
  bottom: 0;
}
.add-cake {
  display: flex;
  height: 70vh;
}
.add-form {
  width: 350px;
  padding: 2rem;
}

.add-form input {
  float: right;
}

.single-cake {
  margin: 3rem auto;
  padding: 36px;
  text-decoration: none;
  color: #716c6b;
  width: 450px;
  height: 700px;
  border-radius: 30px;
  background: white;
  box-shadow: 15px 15px 30px #5f12b8, -15px -15px 30px #37038a;
}

.single-cake > img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}
.contact {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: larger;
  text-decoration: none;
}
.contact > img {
  margin-top: 50px;
  width: 400px;
  height: 400px;
}
.App-logo {
  height: 60px;
  width: 60px;
  float: right;
  margin: 5px;
}
.cake-btn {
  margin: 0 auto 100px auto;
  display: flex;
  justify-content: center;
  border: solid white;
  border-radius: 20px;
  color: white;
  width: 100px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  text-align: center;
  padding: 14px 16px;
  background-color: rgba(51, 51, 193, 0.527);
}
.cake-btn:hover {
  background-color: #111;
}
#add-h1 {
  justify-content: center;
  margin: 20px 20px 20px 20px;
  padding: 20px 65px;
}
.about {
  margin: 0 auto;
  font-size: larger;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
.btn-sgl {
  justify-content: center;
  border: solid white;
  border-radius: 20px;
  color: white;
  width: 100px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  text-align: center;
  padding: 3px 3px;
  background-color: rgba(51, 51, 193, 0.527);
}
.btn-sgl:hover {
  background-color: #111;
}
.update-form form {
  position: absolute;
  left: 1000px;
  top: 19rem;
  border: 1px solid gray;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 3rem 0;
  padding: 36px;
  text-decoration: none;
  color: #ffffff;
  width: 300px;
  height: 400px;
  border-radius: 92px;
  background: #46059579;
  box-shadow: 15px 15px 30px #2b057f, -15px -15px 30px #1d0544;
}


